<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceSCVFilePath" value="C:\Users\Sarzamin Hoshmand\Desktop\Salary" />
		<add key="JsonFilePath" value="C:\Users\Sarzamin Hoshmand\Desktop\Salary" />
		<add key="DesCSVFilePath" value="C:\Users\Sarzamin Hoshmand\Desktop\Salary" />
	</appSettings>
</configuration>